src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">

    <flow name="businessLogicFlow" doc:id="8759532e-79b7-4789-990c-dc8e162bfd67">
        <ee:transform doc:name="SAP Contacts to SFDC Contacts" doc:id="4b619858-915b-4d29-8540-2d6c7b26c0fd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.DEBMAS01.IDOC.E1KNA1M.*E1KNVKM map {
    FirstName   : $.NAMEV,
    LastName    : $.NAME1,
    AccountId   : payload.DEBMAS01.IDOC.E1KNA1M.KUNNR
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <batch:job jobName="syncContactBatch" doc:id="204892ae-0d97-4326-beae-310c8d52b7a6">
            <batch:process-records>
                <batch:step name="getContactInSalesforceStep" doc:id="89713774-362a-4e92-9bdc-41e31802bf38">
                    <salesforce:query-single doc:name="Query Salesforce for Contact" doc:id="81912bc4-8279-483a-97a1-002b26192e57"
                        config-ref="Salesforce" target="IdInSFDC">
                        <salesforce:salesforce-query>Select Id from Contact where LastName = ':lastName' and FirstName = ':firstName'
                        </salesforce:salesforce-query>
                        <salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"lastName" : payload.LastName,
	"firstName" : payload.FirstName
}]]]></salesforce:parameters>
                    </salesforce:query-single>
                    <ee:transform doc:name="Push Id to payload" doc:id="a9ed90b8-10d2-46e9-9026-ee182c8098d4">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.AccountId]]></ee:set-payload>
                        </ee:message>
                        <ee:variables>
                            <ee:set-variable variableName="recordPayload"><![CDATA[%dw 2.0
output application/java
---
payload ++ vars.IdInSFDC]]></ee:set-variable>
                        </ee:variables>

                    </ee:transform>
                    <logger level="INFO" doc:name="Query contact in Salesforce" doc:id="3bde4c45-1ce4-4d5f-96f1-d3494609319c"
                        message="#[payload]" />
                </batch:step>
                <batch:step name="findOrCreateAccountInSalesforceStep" doc:id="ae3ac9de-c09a-41da-aeed-e325ba642305"
                    acceptExpression="'${account.sync.policy}' == 'syncAccount' and payload != null">
                    <ee:transform doc:name="Set XML input" doc:id="bf4c3747-2a83-40de-ac94-c8ebf8e1c27e">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
  "BAPI_CUSTOMER_GETDETAIL2": {
    "import": {
      "CUSTOMERNO": payload
    }
  }
}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <sap:execute-synchronous-remote-function-call doc:name="Get Customer by Number"
                        doc:id="5fd11f26-46a9-4baf-9777-774ce624f21a" config-ref="SAP_Outbound" key="BAPI_CUSTOMER_GETDETAIL2" />
                    <ee:transform doc:name="SAP Customer to Salesforce Account" doc:id="e3e8f3bf-9abf-474c-ad48-5ae7b0a230b1">
                        <ee:message>
                        </ee:message>
                        <ee:variables>
                            <ee:set-variable variableName="sapCustomer"><![CDATA[%dw 2.0
output application/java

var export = payload.BAPI_CUSTOMER_GETDETAIL2.export
---
{
  Name	: export.CUSTOMERADDRESS.NAME,
  Fax	: export.CUSTOMERCOMPANYDETAIL.FAX
}]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <salesforce:query-single doc:name="Query Account in  Salesforce Instance Query single" doc:id="785fb66a-5c26-43b7-977d-30cff4ad8352"
                        config-ref="Salesforce" target="sfAccount">
                        <salesforce:salesforce-query>SELECT Id FROM Account WHERE Name = ':customerName'</salesforce:salesforce-query>
                        <salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"customerName" : vars.sapCustomer.Name
}]]]></salesforce:parameters>
                    </salesforce:query-single>
                    <choice doc:name="Does the corresponding account need to be created in Salesforce?" doc:id="153b8209-a577-49ae-ac52-f62e3f68b878">
                        <when expression="#[isEmpty(vars.sfAccount)]">
                            <salesforce:create-single doc:name="Create Account in Salesforce" doc:id="db81cee6-2efd-4ee1-b153-63315d57de1c"
                                config-ref="Salesforce" type="Account">
                                <salesforce:record><![CDATA[#[vars.sapCustomer]]]></salesforce:record>
                            </salesforce:create-single>
                            <ee:transform doc:name="Store new accountId to payload" doc:id="9ad4464d-f459-456d-a190-350dc18d8423">
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars.recordPayload - 'AccountId' ++ {AccountId : payload.id}]]></ee:set-payload>
                                </ee:message>
                            </ee:transform>
                        </when>
                        <otherwise>
                            <ee:transform doc:name="Store existing accountId to payload" doc:id="058dfe87-6b91-442d-a072-08ce391d7a91">
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars.recordPayload - 'AccountId' ++ {AccountId : vars.sfAccount.Id}]]></ee:set-payload>
                                </ee:message>
                            </ee:transform>
                        </otherwise>
                    </choice>
                </batch:step>
                <batch:step name="upsertContactInSalesforceStep" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb">
                    <batch:aggregator doc:name="Batch Aggregator" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cc" size="${page.size}">
                        <salesforce:upsert type="Contact" doc:name="Upsert Contact in Salesforce" doc:id="f6d4641b-d94a-499d-ad13-ef8ff47b4cbf"
                            config-ref="Salesforce" externalIdFieldName="Id" />
                        <logger level="INFO" doc:name="Upsert contacts in Salesforce" doc:id="7236a9f6-7aaf-4f40-94e3-e477a132e88d"
                            message="Upsert result: #[output application/json --- payload] " />
                    </batch:aggregator>
                    <logger level="INFO" doc:name="Log before upsert" doc:id="fc8cc658-8eaf-4c4b-a909-f9f53c52c903"
                        message="Before upsert:  #[output application/json --- payload] " />
                </batch:step>
            </batch:process-records>
            <batch:on-complete>
                <ee:transform doc:name="Prepare migration result" doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"

++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis!
++ "\n Total Records: "				++ payload.totalRecords!
++ "\n Successful Records: "		++ payload.successfulRecords!
++ "\n Failed Records: "			++ payload.failedRecords!
++ "\n Loaded Records: "			++ payload.loadedRecords!
++ "\n Processed Records: " 		++ payload.processedRecords!]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <logger level="INFO" doc:name="Migration process has finished!" doc:id="b7575d38-7dbd-4602-9186-1bbb25234896"
                    message="Migration process has finished: #[payload]" />

            </batch:on-complete>

        </batch:job>
    </flow>

</mule>


        